*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    background-color: rgb(80, 167, 138);
}
.wrap{
    max-width: 1250px;
    margin: 0 auto;

}
.head-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.logo a{
    font-size: 35px;
    font-weight: bold;
    margin-left: 10px;
}
.right-nav{
    display: flex;
    align-items: center;
}
.right-nav a{
    margin: 0 20px;  
}
.last-a{
    margin-right: 10px !important;
}
.image{
    width: 600px;
    height: 550px;
}
.image img{
    width: 100%;
    height: auto;
}
.comp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
    color: white;
    padding-right: 20px;
}
.awe, .text h1{
    font-size: 70px;
}
.comp .text h1{
    margin-bottom: 20px;
}
.comp .text p{
    width: 400px;
    margin-bottom: 20px;
    line-height: 1.4;
}
.qara{
    background-color: black;
    color: white;
    text-align: center;
}
.create{
    text-align: center;
    padding: 20px 30px;
}
.p1{
    margin-bottom: 10px;
    font-size: 40px;
}
.p2{
    font-size: 20px;
}
.cevre{
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;
}  
.yan-yana{
    display: flex;
    padding-top: 40px;
    padding-bottom: 70px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 25px;
}
.res{
    margin-top: 40px;
    margin-bottom: 15px;
}
.sky{
    background-color: rgb(62, 255, 255);
}
.let{
    padding: 30px 10px;
    text-align: center;
}
.a1{
    margin-bottom: 12px;
    font-size: 30px;
}
.a2{
    font-size: 20px;
}
.kub{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sekil{
    width: 450px;
    height: auto;
    margin: 20px 10px 40px;
}
.sekil img{
    width: 100%;
}
.person{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
}
.dexter{
    border-radius: 50%;
    position: relative;
}
.one{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 20px;
}
.dexter img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.one .p1{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 20px;
}
.yumru{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.black2{
    background-color: black;
    color: white;
}
.video{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 30px;
}
.what{
    margin-left: 25px;
}
.p4{
    font-size: 28px;
    font-weight: bolder;
}
.p3{
    width: 600px;
    margin-bottom: 20px;
    margin-top: 25px;
    line-height: 1.3;
}
.video button{
    padding: 5px 17px;
    border-radius: 5px;
    border: none;
    background-color: aqua;
}
.layout{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.beat, .partners{
    width: 610px;
}
.partners{
    margin-left: 10px;
}
.p5{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.p6{
    line-height: 1.3;
    font-size: 18px;
}
.partners div img{
    width: 200px;
    height: 100px;
    object-fit: cover;
}
.grey{
    background-color: rgb(63, 58, 58);
}
.about{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    color: white;
}
.get{
    width: 400px;
}
.p7{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 23px;
}
.in{
    display: flex;
    margin: 0 0 40px;
}
.p8{
    font-size: 18px;
    font-weight: 900;
}
.p9{
    margin-left: 15px;
}
.ico{
    margin-top: 12px;
}
.ico a{
    width: 50px;
    height: 50px;
    background-color: aqua;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px;
}
.sky-foot{
    background-color: rgb(10, 163, 163);
    padding: 20px 10px;
}
.copy{
    text-align: center;
    padding: 20px;
    color: white;
}